Hussnain Arshad

S2022313002

# Mid EXAM : Tools and Techniques Data Science

# Task 1: ( 5 Marks)  Warp up

# Note : Rename the file with your name and id and also mention your name and id inside here

Name: _____________________________________                                  ID:

In [1]:
# Q1. Here, we take each element in the list a (temporarily assigning it the value i) 
a = [5, 10, 15, 20]

In [2]:
# (i)	Find the square each element in the list. This creates a new list called b and does not modify a through data comprehension.

In [3]:
a = [5, 10, 15, 20]
b = [i ** 2 for i in a]

In [4]:
b

[25, 100, 225, 400]

In [5]:
# (ii)	Write a conditional statement of only squaring the elements if the element is not equal to 10.

a = [5, 10, 15, 20]
b = [i ** 2 for i in a if i != 10]

In [6]:
b

[25, 225, 400]

In [7]:
# Q2. (i) Write the command of random samples from a uniform distribution between 0 and 1?

In [8]:
import numpy as np

In [9]:
# import random

# sample = random.rand(0, 10,10)
import numpy as np

data = np.random.rand(3,3)

In [10]:
data

array([[0.83539975, 0.49022944, 0.37666909],
       [0.2166168 , 0.9432308 , 0.30971835],
       [0.59631401, 0.64693284, 0.22484838]])

In [11]:
#(ii)	Write the command to slice the column 1?

In [12]:
column_1 = [row[1] for row in data]

In [13]:
column_1

[0.4902294407037501, 0.94323079585405, 0.6469328439168377]

In [14]:
#(iii)	Write the command of first and third elements in column 1?

In [15]:
import numpy as np


first_element = data[0, 1]  # First element in column 1
third_element = data[2, 1]  # Third element in column 1

In [16]:
first_element

0.4902294407037501

In [17]:
third_element

0.6469328439168377

In [18]:
#(iv)	 Write the command of returns an 8 x 4 array

In [19]:
import numpy as np

array = np.zeros((8, 4))

In [20]:
array

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [21]:
import pandas as pd

In [22]:
#Q3. Create a Series that looks like this below:

In [23]:
import pandas as pd

data = {'Flour': '4 cups',
        'Milk': '1 cup',
        'Eggs': '2 large',
        'Spam': '1 can'}

series = pd.Series(data, name='Dinner')

In [24]:
series

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [25]:
# Q  4 Create the Data frame  as th output[27]

In [26]:
import pandas as pd

data = {'Apples': [35, 41],
        'Bananas': [21, 34]}

df = pd.DataFrame(data, index=['2017Sales', '2018Sales'])

In [27]:
df

           Apples  Bananas
2017Sales      35       21
2018Sales      41       34

In [28]:
df

           Apples  Bananas
2017Sales      35       21
2018Sales      41       34

In [29]:
#Q4. create Dataframe then find imputation for these missing NaN in the out[47]

In [41]:
import pandas as pd
import numpy as np

# Create the dataframe
data = {'Age': [23.0, 39.0, 45.0, np.nan],
        'Gender': ['M', 'F', 'F', 'M'],
        'Income': [24200.0, np.nan, 45390.0, np.nan],
        'Religion': ['Muslim', 'Christian', np.nan, 'Muslim']}

df = pd.DataFrame(data)

df

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  Christian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [31]:
df

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  Christian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [32]:
#Q4(i)	Compute the appropriate missing value in income attribute?

In [46]:
df['Income'].fillna(df['Income'].median())

0    24200.0
1    34795.0
2    45390.0
3    34795.0
Name: Income, dtype: float64

In [47]:
#(ii)	Compute the appropriate missing values in religion attribute?

In [48]:
df['Religion'].fillna(df['Religion'].mode().iloc[0])

0       Muslim
1    Christian
2       Muslim
3       Muslim
Name: Religion, dtype: object

In [49]:
#(iii)	Drop the columns where any of the elements is nan

In [50]:
# Drop columns with NaN values
df.dropna(axis=1)

  Gender
0      M
1      F
2      F
3      M

In [51]:
#(iv)	Keep only the rows with at least 2 non-na values

In [52]:
df.dropna(thresh=2)

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  Christian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim

In [53]:
# Keep rows with at least 2 non-null values
df.dropna(thresh=2)

    Age Gender   Income   Religion
0  23.0      M  24200.0     Muslim
1  39.0      F      NaN  Christian
2  45.0      F  45390.0        NaN
3   NaN      M      NaN     Muslim